# OS
*~
*.swp

# Java / Maven
*.class
target/
target-ide/
**/logs
maven-metadata-local.xml

# IDE, miscellaneous and mysterious
products
repository
workspace
.classpath
.project
.settings
MANIFEST.MF
*.ipr
*.iml
*.iws
.idea
classes
out/
.externalToolBuilders
maven-eclipse.xml
.DS_STORE
.metadata
.checkstyle
.factorypath

# Maven console output redirect
log.txt

# Tox test/linting files
.tox/
_build/
