[access]
	inheritFrom = All-Projects
[project]
	description = Integration distribution
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/gerrit-integration-distribution-committers
	create = group Administrators
	forgeAuthor = group Administrators
	forgeCommitter = group Administrators
	push = +force group Administrators
	pushMerge = group Administrators
[access "refs/heads/*"]
	viewDrafts = group Anonymous Users
