[access]
	inheritFrom = All-Projects
[project]
	description = Integration distribution
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group saml/odl-gerrit-integration-distribution-committers
	read = group GitHub Replication
[access "refs/heads/*"]
	viewDrafts = group Anonymous Users
[submit]
	action = rebase if necessary
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/nitrogen:refs/heads/stable/nitrogen
