[access]
	inheritFrom = All-Projects
[project]
	description = Integration distribution
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/gerrit-integration-distribution-committers
[access "refs/drafts/*"]
	viewDrafts = group Anonymous Users
	viewDrafts = group Registered Users
